<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CS-Py Remote Server</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <h1>CS-Py RESTful API Server</h1>
                    <p>A Personal Performance Analytics & Tracker Tool For CS:GO</p>
                    <p>Your match data is sent to and saved on this website.</p>
                    <div class="footer">
                        <a class="pr-4" href="https://github.com/Parkkeo1/CS-Py" target="_blank">What Is CS-Py?</a>
                        <a class="pl-4" href="https://github.com/Parkkeo1" target="_blank">Developed By @Parkkeo1</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>