html,
body {
    height: 100%;
    background-color: #FFFFFF;
}

body {
    color: #000000;
    text-align: center;
}

form {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: #FFFFFF;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #1f77b4;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #1f77b4;
}