{% extends 'layout.html' %}

{% block body %}
    <div class="container justify-content-sm-start" style="text-align: center;">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h1 class="text-center">CS-Py</h1>
            <p class="text-center">A Python-based Player Statistics Display & Analysis Program For CS:GO</p>
            <!--<form method="POST" >-->
                <!--<button class="btn btn-primary" type="submit" name="start">Start GS Data Collection</button>-->
            <!--</form>-->
        </div>
        <hr>
    </div>
{% endblock %}